/*
Clusterflow Config
-------------------
Configuration for AWS Alces-Flight
-------------------
*/

/****************/
/* Core Options */
/****************/
@email	0
/* @email    phil.ewels@scilifelab.se */
@colourful	0
/* @colourful	1 */
@notification	suspend
@notification	abort
@notification	complete
@split_files	1
@max_runs       12
@time_multiplier    1
@max_time	10-00
/* Depends on cluster setup */
@total_cores	4
@total_mem	32G

/***********************/
/* Cluster Environment */
/***********************/
/* Options: local, GRIDEngine, SLURM or LSF */
@cluster_environment	GRIDEngine
@cluster_queue_environment  mpislots

/* NOTE: Alces Flight uses non-standard environment module commands. */
/* Would be nice to use environment modules, but we need `modulecmd` */
/* and that's not available. So instead need to load modules manually */
/* and just assume that they're on the PATH */
@ignore_modules	true

/* Custom Job Submit Command - uncomment to customise parameters for job submission */
/* Accepted variable placeholders: {{command}} {{job_id}} {{outfn}} {{cores}} {{mem}} {{time}} {{priority}} {{email}} {{notifications}} {{project}} {{qname}} */
/* NOTE: Using this so that we can specify `-pe mpislots` instead of the default `-pe orte` */
@custom_job_submit_command echo "{{command}}" | qsub -clear -b n -cwd -V -S /bin/bash -pe mpislots {{cores}} {{qname}} -l h_vmem={{mem}} -o {{outfn}} -j y -N {{job_id}} {{notifications}}


/***********************/
/* Environment Modules */
/***********************/
/* If your modules have a different name to those being requested in a module, you can create aliases */
@environment_module_alias fastqc apps/fastqc/0.11.3
@environment_module_alias trim_galore apps/trimgalore/0.4.2
@environment_module_alias samtools apps/samtools/1.4
@environment_module_alias STAR apps/star/2.5.2a


/**********************/
/* Pipeline Reporting */
/**********************/
/* If specific flags are found in the pipeline output log, you can flag them as */
/* warnings or highlights in the report e-mail. Case insensitve. */
@log_highlight_string at least one reported alignment
@log_warning_string	Error occured
@log_warning_string job failed
