/*
Clusterflow Config
-------------------
Default static variables for clusterflow.
Syntax - @key:value
These will be overwritten by any with the same name in ~/clusterflow/clusterflow.config
-------------------
*/

/****************/
/* Core Options */
/****************/
/* See the Cluster Flow manual for descriptions */
@email	0
@check_updates	1d
@available_version	0.1
@updates_last_checked	1392134837
@notification	suspend
@notification	abort
@notification	complete

@split_files	1
@priority	-500
@total_cores	64
@total_mem	128G

/***********************/
/* Cluster Environment */
/***********************/
/* CF is written with support for GRIDEngine and LSF clusters. */
/* You can specific which you use below (defaults to GRIDEngine) */
/* Options: GRIDEngine or LSF */
@cluster_environment	GRIDEngine

/****************/
/* Genome Paths */
/****************/
/* These should be the directories containing the fasta files */
@genome_path	GRCh37	/bi/scratch/Genomes/Human/GRCh37/
@genome_path	GRCm38	/bi/scratch/Genomes/Mouse/GRCm38/
@genome_path	NCBIM37	/bi/scratch/Genomes/Mouse/NCBIM37/
@genome_path	NCBIM37_129	/bi/scratch/Genomes/Mouse/129S1_SvImJ/Genome_Sanger
@genome_path	NCBIM36	/bi/scratch/Genomes/Mouse/NCBIM36/
@genome_path	Nasonia	/bi/scratch/Genomes/Nasonia_vitripennus/Nvit_2.0/
@genome_path	Polistes	/bi/scratch/Genomes/Wasp/2013-04-29/
@genome_path	mirbase20_mus	/bi/scratch/mirBASE/Mouse/mirbase_v20/
@genome_path	mirbase20_hum	/bi/scratch/mirBASE/Human/mirbase_v20/


/****************/
/* Bowtie Paths */
/****************/
/* These should be the full path including the filename stub */
/* (everything except .[1-4].ebwt / .[1-4].bt2) */
@bowtie_path	GRCh37	/bi/scratch/Genomes/Human/GRCh37/Homo_sapiens.GRCh37
@bowtie_path	GRCm38	/bi/scratch/Genomes/Mouse/GRCm38/Mus_musculus.GRCm38
@bowtie_path	NCBIM37	/bi/scratch/Genomes/Mouse/NCBIM37/Mus_musculus.NCBIM37
@bowtie_path	NCBIM37_129	/bi/scratch/Genomes/Mouse/129S1_SvImJ/Genome_Sanger/129S1
@bowtie_path	Polistes	/bi/scratch/Genomes/Wasp/2013-04-29/wasp
@bowtie_path	mirbase20_mus	/bi/scratch/mirBASE/Mouse/mirbase_v20/mirbase_v20_mus_musculus_mature
@bowtie_path	mirbase20_hum	/bi/scratch/mirBASE/Human/mirbase_v20/mirbase_v20_homo_sapiens_mature

/*************/
/* GTF Paths */
/*************/
/* These should be the full path and filename. */
@gtf_path	GRCh37	/bi/scratch/Genomes/Human/GRCh37/Homo_sapiens.GRCh37.61.gtf
@gtf_path	GRCm38	/bi/scratch/Genomes/Mouse/GRCm38/Mus_musculus.GRCm38.70.gtf
@gtf_path	NCBIM37	/bi/scratch/Genomes/Mouse/NCBIM37/Mus_musculus.NCBIM37.cleaned.gtf
@gtf_path	NCBIM37_129	/bi/scratch/Genomes/Mouse/NCBIM37/Mus_musculus.NCBIM37.cleaned.gtf



