/*
Clusterflow Config
-------------------
Default static variables for clusterflow.
Syntax - @key:value
These will be overwritten by any with the same name in ~/clusterflow/clusterflow.config
-------------------
*/

@email	0
@notify_error	1
@notify_abort	1
@notify_complete	1

@split_files	1
@priority	-500
@total_cores	64
@default_mem	4G

/* Genome Paths */
@genome_path	GRCh37	/bi/scratch/Genomes/Human/GRCh37/
@genome_path	GRCm38	/bi/scratch/Genomes/Mouse/GRCm38/
@genome_path	NCBIM37	/bi/scratch/Genomes/Mouse/NCBIM37/
@genome_path	NCBIM36	/bi/scratch/Genomes/Mouse/NCBIM36/
@genome_path	Nasonia	/bi/scratch/Genomes/Nasonia_vitripennus/Nvit_2.0/
@genome_path	Polistes	/bi/scratch/Genomes/Wasp/2013-04-29/


/* Bowtie Paths */
@bowtie_path	GRCh37	/bi/scratch/Genomes/Human/GRCh37/Homo_sapiens.GRCh37
@bowtie_path	GRCm38	/bi/scratch/Genomes/Mouse/GRCm38/Mus_musculus.GRCm38
@bowtie_path	NCBIM37	/bi/scratch/Genomes/Mouse/NCBIM37/Mus_musculus.NCBIM37
@bowtie_path	Polistes	/bi/scratch/Genomes/Wasp/2013-04-29/wasp

/* GTF Paths */
@gtf_path	GRCh37	/bi/scratch/Genomes/Human/GRCh37/Homo_sapiens.GRCh37.61.gtf
@gtf_path	GRCm38	/bi/scratch/Genomes/Mouse/GRCm38/Mus_musculus.GRCm38.70.gtf
@gtf_path	NCBIM37	/bi/scratch/Genomes/Mouse/NCBIM37/Mus_musculus.NCBIM37.cleaned.gtf


