/*
Clusterflow Config
-------------------
Default static variables for clusterflow.
Syntax - @key:value
These will be overwritten by any with the same name in ~/clusterflow/clusterflow.config
-------------------
*/

@email:0
@notifications:error,complete

@priority:-500
@total_cores:64
@default_mem:4G

/* Genome Paths */
