/*
Clusterflow Config
-------------------
Configuration for AWS Alces-Flight
-------------------
*/

/****************/
/* Core Options */
/****************/
@email	0
/* @email    phil.ewels@scilifelab.se */
@colourful	0
/* @colourful	1 */
@notification	suspend
@notification	abort
@notification	complete
@split_files	1
@max_runs       12
@time_multiplier    1
@max_time	10-00
/* Depends on cluster setup */
@total_cores	4
@total_mem	32G

/***********************/
/* Cluster Environment */
/***********************/
/* Options: local, GRIDEngine, SLURM or LSF */
@cluster_environment	GRIDEngine
@cluster_queue_environment  mpislots

/* Custom Job Submit Command - uncomment to customise parameters for job submission */
/* Accepted variable placeholders: {{command}} {{job_id}} {{outfn}} {{cores}} {{mem}} {{time}} {{priority}} {{email}} {{notifications}} {{project}} {{qname}} */
/* NOTE: Using this so that we can specify `-pe mpislots` instead of the default `-pe orte` */
@custom_job_submit_command echo "{{command}}" | qsub -clear -b n -cwd -V -S /bin/bash -pe mpislots {{cores}} {{qname}} -l h_vmem={{mem}} -o {{outfn}} -j y -N {{job_id}} {{notifications}}


/***********************/
/* Environment Modules */
/***********************/
/* If your modules have a different name to those being requested in a module, you can create aliases */
@environment_module_alias BEDTools  apps/bedtools/2.25.0
@environment_module_alias STAR  apps/star/2.5.2a
@environment_module_alias bismark apps/bismark/0.16.3
@environment_module_alias bowtie  apps/bowtie/1.1.0
@environment_module_alias bowtie2 apps/bowtie2/2.3.0
@environment_module_alias bwa apps/bwa/0.7.15
@environment_module_alias cutadapt  apps/cutadapt/1.8
@environment_module_alias fastq_screen  apps/fastqscreen/0.6.1
@environment_module_alias fastqc  apps/fastqc/0.11.3
@environment_module_alias htseq apps/htseq/0.6.1p1
@environment_module_alias kallisto  apps/kallisto/0.43.0
@environment_module_alias phantompeakqualtools  apps/phantompeakqualtools/1.1
@environment_module_alias picard  apps/picard/2.6.0
@environment_module_alias samtools  apps/samtools/1.4
@environment_module_alias sratoolkit  apps/sra/2.3.5-2
@environment_module_alias subread apps/subread/1.5.0-p3
@environment_module_alias tophat  apps/tophat/2.1.0
@environment_module_alias trim_galore apps/trimgalore/0.4.2

/**********************/
/* Pipeline Reporting */
/**********************/
/* If specific flags are found in the pipeline output log, you can flag them as */
/* warnings or highlights in the report e-mail. Case insensitve. */
@log_highlight_string at least one reported alignment
@log_warning_string	Error occured
@log_warning_string job failed
