/*
Clusterflow Genomes
-------------------
Genome paths for clusterflow.
Syntax - @path_type  key  path  species  assembly
Species and assembly are optional and only serve as additional information
Fields are delimited by whitespace, so do not include spaces in species name.
when running cf --list_genomes
-------------------
*/


/****************/
/* Genome Paths */
/****************/
/* These should be the directories containing the fasta files */
@genome_path	GRCh37	/path/to/genomes/Human/GRCh37/	Human	GRCh37
@genome_path	GRCm38	/path/to/genomes/Mouse/GRCm38/	Mouse	GRCm38
@genome_path	NCBIM37	/path/to/genomes/Mouse/NCBIM37/	Mouse	NCBIM37


/****************/
/* Bowtie Paths */
/****************/
/* These should be the full path including the filename stub */
/* (everything except .[1-4].ebwt / .[1-4].bt2) */
@bowtie_path	GRCh37	/path/to/genomes/Human/GRCh37/Homo_sapiens.GRCh37	Human	GRCh37
@bowtie_path	GRCm38	/path/to/genomes/Mouse/GRCm38/Mus_musculus.GRCm38	Mouse	GRCm38
@bowtie_path	NCBIM37	/path/to/genomes/Mouse/NCBIM37/Mus_musculus.NCBIM37	Mouse	NCBIM37


/*************/
/* GTF Paths */
/*************/
/* These should be the full path and filename. */
@gtf_path	GRCh37	/path/to/genomes/Human/GRCh37/Homo_sapiens.GRCh37.61.gtf	Human	GRCh37
@gtf_path	GRCm38	/path/to/genomes/Mouse/GRCm38/Mus_musculus.GRCm38.70.gtf	Mouse	GRCm38
@gtf_path	NCBIM37	/path/to/genomes/Mouse/NCBIM37/Mus_musculus.NCBIM37.cleaned.gtf	Mouse	NCBIM37
