<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
	<meta name="description" content="{{site.description}}"/>
	<meta name="author" content="{{site.author}}"/>
	
	<!-- Bootstrap and Google Fonts -->
	<link href="{{ site.baseurl }}/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- Site Stylesheet -->
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>
<body>

<header>
	<section class="logo">
		<h1><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/resources/img/CF_logo.png" title="Cluster Flow"></a></h1>
		<p>A pipelining tool to automate and standardise bioinformatics analyses on cluster environments.</p>
	</section>
	<section class="download">
		<p>
			<a class="btn btn-default" href="https://github.com/ewels/clusterflow/archive/v0.1.zip" title="Download Cluster Flow v0.2"><i class="glyphicon glyphicon-folder-open"></i> &nbsp; &nbsp; Download v0.1</a>
			<a class="text-link" href="https://github.com/ewels/clusterflow/archive/master.zip" title="Download Current Cluster Flow Development Version" onclick="return(confirm('This code is currently in development and there\'s a good chance that it will contain bugs - are you sure you don\'t want the stable release?'));"><i class="glyphicon glyphicon-folder-open"></i> &nbsp; &nbsp; Download devel version</a>
			<a class="text-link" href="https://github.com/ewels/clusterflow" title="View on GitHub"><img src="{{site.baseurl}}/resources/img/GitHub-Mark/PNG/GitHub-Mark-Light-16px.png" title="View on GitHub"> &nbsp; View on GitHub</a>
		</p>
	</section>
	<nav id="nav">
		<ul>
			<li><a href="#">Introduction</a></li>
			<li><a href="#">Installation Instructions</a></li>
			<li><a href="#">Quick Start</a></li>
			<li><a href="#">Command Line Reference</a></li>
			<li><a href="#">Writing Pipelines &amp; Modules</a></li>
			<li><a href="#">Troubleshooting</a></li>
		</ul>
	</nav>
	<section class="credits">
		<p>Cluster Flow was written by <a href="http://phil.ewels.co.uk" target="_blank">Phil Ewels</a> whilst working at the <a href="http://www.babraham.ac.uk" target="_blank">Babraham Institute</a>. He now maintains it from <a href="http://www.scilifelab.se" target="_blank">SciLifeLab</a> in Stockholm, Sweden.</p>
		<p class="logos">
			<a href="http://www.babraham.ac.uk" target="_blank"><img src="{{ site.baseurl }}/resources/img/Babraham_logo.png" title="Babraham Institute"></a>
			<a href="http://www.scilifelab.se" target="_blank"><img src="{{ site.baseurl }}/resources/img/SciLifeLab_logo.png" title="SciLifeLab"></a>
		</p>
	</section>
</header>