/*
-----------------------------------
Fastq to Bismark Pipeline (RRBS Data)
-----------------------------------
This pipeline takes fastq files as input (assuming that it has been 
trimmed already), then processes them with Bismark (alignment, 
methylation extractor then report
generation). It requires a genome index with a corresponding genome
folder and bismark converted genome.

*/

#bismark_align bt2
	#bismark_methXtract
		#bismark_report
