/*
-----------------------
Bismark Pipeline
-----------------------
This pipeline takes FastQ files as input and processes them
with Bismark (alignment, deduplication, methlyation extractor
then tidying up and report generation). It requires a genome 
index with a corresponding genome folder and bismark converted
genome.
*/


@require_genome

#bismark_align
	#bismark_deduplicate
		#bismark_methXtract
			#bismark_report
