/*
------------------------
BWA to Sorted Pipeline
------------------------
This pipeline takes FastQ files as input, runs BWA to algin, then sorts
the alignments using samtools sort. The module requires a genome
reference with a corresponding BWA index base in the configuration.
*/


@require_reference bwa

#bwa
	#samtools_sort
