/*
ChIP-Seq test pipeline
================
Pipeline for ChIP-seq data. Takes fastq files as input, then runs bowtie to map, 
samtools to sort and index, picard to remove duplicates, phantompeaktools to get 
cross-correlation statistics, and deepTools to create a coverage track and a 
fingerprint plot. Also runs fastQC on the fastq files.  
*/
#fastqc
#bowtie1
	#samtools_sort_index
		#bedtools_bamToBed
			#bedToNrf
		#picard_dedup
			#samtools_sort_index
				#phantompeaktools_runSpp
					#deeptools_bamCoverage
					#deeptools_bamFingerprint

