/*
------------------------
FastQ to Bowtie Pipeline
------------------------
This pipeline takes FastQ files as input, runs FastQC, Trim Galore,
then aligns with either Bowtie 1 or Bowtie 2, depending on read
length (Bowtie 2 if reads >= 50bp). The module requires a genome
reference with a corresponding bowtie index base in the configuration.
*/


@require_reference bowtie

#fastqc
#trim_galore
	#bowtie
