/*
-----------------------
FastQ to HiCUP Pipeline
-----------------------
This pipeline takes FastQ files as input, runs FastQC
and Trim Galore, then processes the data with HiCUP.
It requires a genome reference and a Bowtie 1 index
base in the configuration.
This pipeline passes no parameters to HiCUP so uses HindIII.
*/

#fastqc
#trim_galore
	#hicup
