/*
------------------------
FastQ to Salmon Pipeline
Russell Hamilton (rsh46@cam.ac.uk)
------------------------
This pipeline takes FastQ files as input, runs FastQC, Trim Galore,
then quasi-aligns with salmon . The module requires a genome
index with a corresponding salmon index base in the configuration.
*/


#fastqc
#trim_galore
        #salmon
