/*
-----------------------
FastQ to Bismark Pipeline
-----------------------
This pipeline takes FastQ files as input, runs FastQC, Trim Galore,
then processed with Bismark (alignment, deduplication, methylation
extractor then tidying up and report generation). It requires a
genome index with a corresponding genome folder and bismark converted
genome.
*/

@require_reference fasta

#fastqc
#trim_galore
	#bismark_align
		#bismark_deduplicate
			#bismark_methXtract
				#bismark_report
