/*
-----------------------------------
Fastq to Bismark Pipeline (RRBS Data)
-----------------------------------
This pipeline takes fastq files as input,
runs Trim Galore in RRBS mode, then processes them with Bismark (alignment, 
deduplication, methyaltion extractor then tidying up and report
generation). It requires a genome index with a corresponding genome
folder and bismark converted genome.

Trim Galore is run with the RRBS parameter.
*/

@require_genome

#trim_galore	RRBS
	#bismark_align
		#bismark_deduplicate
			#bismark_methXtract
				#bismark_report
