/*
-----------------------
FastQ to Bismark Pipeline
-----------------------
This pipeline takes FastQ files as input, runs FastQC, Trim Galore,
then processed with Bismark (alignment, deduplication, methyaltion
extractor then tidying up and report generation). It requires a
genome index with a corresponding genome folder and bismark converted
genome. It runs Bismark with the --pbat parameter as well as --ignore 4
*/

@require_reference fasta

#fastqc
#trim_galore pbat
	#bismark_align pbat
		#bismark_deduplicate
			#bismark_methXtract pbat
				#bismark_report
