/*
-----------------------------------
FastQ to Bismark Pipeline (RRBS Data)
-----------------------------------
This pipeline takes FastQ files as input, runs FastQC, Trim Galore,
then processed with Bismark (alignment, deduplication, methyaltion
extractor then tidying up and report generation). It requires a
genome index with a corresponding genome folder and bismark
converted genome.

Trim Galore is run with the RRBS parameter.
*/

@require_reference bismark

#fastqc
#trim_galore	RRBS
	#bismark_align
		#bismark_deduplicate
			#bismark_methXtract
				#bismark_report
					>bismark_summary_report
