/*
----------------------
SRA to Tophat Pipeline
----------------------
This pipeline takes SRA files as input, dumps FastQ files,
runs FastQC, Trim Galore, then aligns with tophat.
It requires a genome reference with a corresponding bowtie
index base in the configuration. If a GTF file is defined
for the genome idex it will be used, otherwise Tophat will
align without gene model annotations.
*/


@require_bowtie

#sra_fqdump
	#fastqc
	#trim_galore
		#tophat
