/*
----------------------
SRA to Tophat Pipeline
----------------------
This pipeline takes SRA files as input, dumps FastQ files,
runs FastQC, Trim Galore, then aligns with Hisat2.
It requires a genome reference with a corresponding Hisat2
index base in the configuration. It requires a GTF file that
has been converted by the junction converter script within 
Hisat2.

*/

#sra_fqdump
	#fastqc
	#trim_galore
		#hisat2
