/*
------------------------------
SRA to mapped miRNA Pipeline
------------------------------
This pipeline starts from SRA files and trims
and maps these to a suitable reference. Trim Galore!
now auto-detects miRNA samples, so should trim
appropriately (please use >= v0.4.1).
Mapping uses non-standard parameters to allow multiple
mappings.  The pipline is designed to run against miRNA
database libraries, but can also be used against genomic
libraries.
*/

#sra_fqdump
	#fastqc
	#trim_galore
		#bowtie1 mirna
