/*
---------------------
SRA to HiCUP Pipeline
---------------------
This pipeline takes SRA files as input, runs FastQC, Trim Galore,
then processes the data with HiCUP. It requires a genome reference
and a Bowtie 1 index base in the configuration. This pipeline passes
no parameters to HiCUP so uses HindIII.
*/

@require_genome
@require_bowtie

#sra_fqdump
	#fastqc
	#trim_galore
		#hicup
