/*
-----------------------
SRA to Bismark Pipeline
-----------------------
This pipeline takes SRA files as input, dumps them to FastQ files,
runs FastQC, Trim Galore, then processed with Bismark (alignment, 
deduplication, methyaltion extractor then tidying up and report
generation). It requires a genome index with a corresponding genome
folder and bismark converted genome.
*/

@require_genome

#sra_fqdump
	#fastqc
	#trim_galore
		#bismark_align
			#bismark_deduplicate
				#bismark_methXtract
					#bismark_tidy
