/*
------------------------------
SRA to mapped miRNA Pipeline
------------------------------
This pipeline starts from SRA files and trims
and maps these to a suitable reference.  The 
timming uses a non standard adapter sequence to
remove the smallRNA reverse transcriptase adapter
which is normally found at the ends of smallRNA
libraries.  Mapping also uses non-standard parameters
to allow multiple mappings.  The pipline is designed
to run against miRNA database libraries, but can
also be used against genomic libraries.
*/

#sra_fqdump
	#fastqc
	#trim_galore adapter=ATGGAATTCTCG
		#bowtie mirna
