/*
------------------------
SRA to Bowtie 2 Pipeline
------------------------
This pipeline takes SRA files as input, runs FastQC, Trim Galore,
then aligns with Bowtie 2. It requires a genome reference with a
corresponding Bowtie 2 index base in the configuration.
*/


@require_reference bowtie2

#sra_fqdump
	#fastqc
	#trim_galore
		#bowtie2
