/*
----------------------------
SRA to Bismark PBAT Pipeline
----------------------------
This pipeline takes SRA files as input, runs FastQC, Trim Galore,
then processed with Bismark (alignment, deduplication, methyaltion
extractor then tidying up and report generation).
It runs Bismark with the --pbat parameter as well as --ignore 4
*/

@require_genome

#sra_fqdump
	#fastqc
	#trim_galore
		#bismark_align pbat
			#bismark_deduplicate
				#bismark_methXtract pbat
					#bismark_tidy
