/*
------------------------------
Trim Galore to Tophat Pipeline
------------------------------
This pipeline takes fastq files as input, runs FastQC, Trim Galore,
then aligns with tophat. It requires a genome reference with a
corresponding bowtie index base in the configuration.
*/


#fastqc
#trim_galore
	#tophat
